
@{
    ViewBag.Title = "About Us";
}
<body class="image">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <h2></h2>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Developers</h1>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">


                        <label for="campo-nome">Eduardo Hausmann</label>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="campo-mail">Felipe Franco Weber</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="campo-title">Henrique Montibeller</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="campo-title">Illan Dickmann</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="campo-title">Nathan Martinez</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="campo-title">Pablo Luz</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
