
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <h2></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Home</h1>
            <br />
            <p class="lead">
                Our system is designed to facilitate the entry and the exit of products in the stock.
            </p>
            <p class="lead">
                The purpose of this system is to facilitate work with sales and transportation.
            </p>
            <p class="lead">
                Including the barcode reading, which will count the products and will display on screen the quantity available in stock being updated at any time, also at the time of remove one of the products the system itself will act to update the database.
            </p>
        </div>
    </div>
</div>


